.card--layout-title {
    font-size: $font--m;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;

    &:hover,
    &:focus {
        .card--content {
            transform: translateY(-80px);

            .card--button {
                background-color: $white;
                border-color: $white;
                color: $secondary;
            }
        }
    }
}

.card--content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 90%;
    padding: $spacing--small;
    background-color: $secondary;
    color: $white;
    transform: translateY(-50px);
    border-radius: $radius;
    box-shadow: $shadow;
    transition: transform 0.5s ease;

    &:hover,
    &:focus {
        transform: translateY(-80px);
    }

    * {
        margin-bottom: $spacing--small;
    }
}

.card--title {
    font-size: $font--m;
}

.card--image {
    border-radius: $radius;
    box-shadow: $shadow;

    img {
        border-radius: $radius;
    }
}

.card--button {
    position: unset;
    align-self: flex-start;
    margin-top: auto;
}
