.hero {
    display: flex;
    position: relative;
    flex: 1;
    min-height: 95vh;

    @media (max-width: 800px) {
        flex-direction: column-reverse;
        min-height: auto;
    }
}

.hero--illustration {
    background-repeat: repeat;
    background-position: 100%;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 156 156' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cpattern id='a' x='0' y='0' width='126' height='126' patternUnits='userSpaceOnUse' patternTransform='translate(30 30)'%3E%3Csvg width='96' height='96' viewBox='0 0 100 100'%3E%3Cg fill='%23fbb791'%3E%3Cpath d='M31.984 9.441a2.93 2.93 0 0 0 2.93-2.93c-.159-3.886-5.701-3.885-5.86 0a2.931 2.931 0 0 0 2.93 2.93ZM68.01 90.557a2.93 2.93 0 0 0-2.93 2.93c.159 3.887 5.701 3.886 5.86 0a2.93 2.93 0 0 0-2.93-2.93ZM68.01 9.441a2.93 2.93 0 0 0 2.93-2.93c-.16-3.886-5.702-3.885-5.86 0a2.931 2.931 0 0 0 2.93 2.93ZM31.984 90.557a2.93 2.93 0 0 0-2.93 2.93c.16 3.887 5.702 3.886 5.86 0a2.93 2.93 0 0 0-2.93-2.93ZM93.486 34.916a2.93 2.93 0 0 0 2.93-2.93c-.159-3.887-5.701-3.886-5.86 0a2.93 2.93 0 0 0 2.93 2.93ZM6.51 65.083a2.93 2.93 0 0 0-2.93 2.93c.159 3.886 5.701 3.885 5.86 0a2.931 2.931 0 0 0-2.93-2.93ZM93.486 65.083a2.93 2.93 0 0 0-2.93 2.93c.16 3.886 5.702 3.885 5.86 0a2.931 2.931 0 0 0-2.93-2.93ZM6.51 34.916a2.93 2.93 0 0 0 2.93-2.93c-.16-3.887-5.702-3.886-5.86 0a2.93 2.93 0 0 0 2.93 2.93ZM54.571 61.056c-2.43 5.02-1.341 11.477 2.681 15.382 1.645 1.644 3.48 3.012 5.412 4.148 2.302-8.271.317-16.257-8.093-19.53ZM46.712 66.846a13.53 13.53 0 0 0-1.288-5.79c-8.412 3.276-10.392 11.254-8.096 19.52 5.116-2.951 9.47-7.422 9.384-13.73ZM45.417 38.942c2.368-5.031 1.478-11.228-2.675-15.382-1.645-1.644-3.478-3.011-5.41-4.147-2.303 8.268-.322 16.251 8.085 19.529ZM54.578 38.942c8.408-3.28 10.384-11.256 8.088-19.519-1.925 1.128-3.766 2.49-5.414 4.138-4.152 4.153-5.043 10.35-2.674 15.38ZM49.999 45.6a4.406 4.406 0 0 0-4.401 4.4c.242 5.839 8.56 5.837 8.802 0 0-2.427-1.975-4.4-4.401-4.4ZM19.422 37.33c1.128 1.926 2.49 3.767 4.137 5.414 3.905 4.023 10.363 5.113 15.382 2.681-3.277-8.41-11.254-10.39-19.52-8.094ZM23.559 57.255c-1.645 1.645-3.013 3.479-4.149 5.411 8.27 2.302 16.253.32 19.53-8.086-5.032-2.368-11.229-1.477-15.381 2.675ZM80.573 62.669c-1.128-1.925-2.49-3.767-4.138-5.414-4.124-4.113-10.262-5.07-15.38-2.675 3.28 8.408 11.254 10.385 19.518 8.089ZM66.843 46.714c3.626 0 7.032-1.41 9.591-3.97 1.645-1.645 3.013-3.478 4.149-5.41-8.272-2.303-16.256-.319-19.53 8.091a13.528 13.528 0 0 0 5.79 1.29ZM49.997 23.497a19.284 19.284 0 0 1 3.112-4.08c3.011-3.01 5.918-4.652 7.483-5.57C57.966 8.175 54.142 3.51 51.42.617a1.952 1.952 0 0 0-2.845 0c-2.72 2.89-6.541 7.553-9.167 13.22 1.563.92 4.452 2.556 7.477 5.581a19.297 19.297 0 0 1 3.112 4.08ZM49.997 76.503a19.294 19.294 0 0 1-3.112 4.08c-3.025 3.026-5.914 4.662-7.477 5.58 2.626 5.669 6.447 10.33 9.167 13.221.772.821 2.073.821 2.845 0 2.722-2.893 6.546-7.559 9.172-13.231-1.565-.917-4.471-2.56-7.483-5.57a19.286 19.286 0 0 1-3.112-4.08ZM69.423 26.172c0 1.745-.238 3.452-.684 5.086a19.293 19.293 0 0 1 5.084-.685c4.26 0 7.475.895 9.23 1.353 2.155-5.868 2.75-11.872 2.872-15.842a1.952 1.952 0 0 0-2.013-2.012c-3.968.12-9.966.715-15.83 2.867.456 1.755 1.341 4.954 1.341 9.233ZM30.575 73.823c0-1.744.238-3.451.684-5.084-1.634.446-3.34.684-5.086.684-4.278 0-7.478-.886-9.233-1.34-2.151 5.863-2.746 11.862-2.867 15.83a1.952 1.952 0 0 0 2.012 2.012c3.97-.121 9.974-.717 15.842-2.871-.458-1.756-1.352-4.972-1.352-9.23ZM99.385 48.574c-2.89-2.72-7.553-6.54-13.22-9.166-.92 1.563-2.556 4.452-5.581 7.477a19.287 19.287 0 0 1-4.08 3.112c1.47.84 2.845 1.878 4.08 3.112 3.01 3.011 4.652 5.918 5.57 7.483 5.672-2.626 10.338-6.45 13.231-9.172.821-.772.821-2.074 0-2.846ZM23.497 49.997a19.294 19.294 0 0 1-4.08-3.112c-3.026-3.025-4.662-5.914-5.58-7.477-5.669 2.626-10.33 6.447-13.221 9.167a1.952 1.952 0 0 0 0 2.845c2.893 2.722 7.559 6.546 13.231 9.172.917-1.565 2.56-4.471 5.57-7.483a19.289 19.289 0 0 1 4.08-3.112ZM73.828 69.423c-1.745 0-3.452-.238-5.086-.684.447 1.633.685 3.34.685 5.084 0 4.259-.895 7.475-1.353 9.23 5.868 2.155 11.871 2.75 15.842 2.871a1.952 1.952 0 0 0 2.012-2.012c-.121-3.968-.715-9.966-2.867-15.83-1.755.455-4.954 1.34-9.233 1.34ZM26.176 30.573c1.745 0 3.452.238 5.085.685a19.292 19.292 0 0 1-.684-5.086c0-4.279.885-7.478 1.34-9.233-5.864-2.151-11.862-2.746-15.83-2.867a1.952 1.952 0 0 0-2.012 2.012c.121 3.97.717 9.974 2.871 15.842 1.755-.458 4.971-1.352 9.23-1.352Z'/%3E%3C/g%3E%3C/svg%3E%3C/pattern%3E%3C/defs%3E%3Crect width='100%25' height='100%25' fill='%239a6e44'/%3E%3Crect width='100%25' height='100%25' fill='url(%23a)'/%3E%3C/svg%3E");
    background-size: 40px;
    width: 100%;
    height: 100%;
    margin-bottom: auto;

    @media (max-width: 800px) {
        width: 50%;
        height: clamp(10rem, 5.333rem + 23.33vw, 17rem);
        margin-bottom: 0;
    }
}

.hero--content {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: $primary;
    padding-bottom: $spacing;

    @media (max-width: 800px) {
        flex-direction: row-reverse;
        justify-content: flex-start;
        align-items: center;
        padding-bottom: 0;
    }

    .hero--meta,
    .hero--title {
        color: #fff;
        padding-inline: $spacing;

        @media (max-width: 650px) {
            padding-inline: $spacing--small;
        }
    }
}

.hero--copy {
    padding-top: $spacing;

    @media (max-width: 800px) {
        width: 50%;
        padding-top: 0;
    }
}

.hero--meta {
    font-size: $font--sm;
    letter-spacing: 1.5px;
}

.hero--title {
    letter-spacing: 1.15px;

    @media (max-width: 650px) {
        font-size: $font--xm;
    }
}

.hero--image {
    flex: 1;

    @media (max-width: 800px) {
        max-height: 57vh;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 40% 50%;

        @media (max-width: 1200px) {
            object-position: 28% 50%;
        }
    }
}

.hero--button {
    font-family: $title;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-20deg);
    font-size: $font--sm;
    letter-spacing: 1.5px;
    color: $white;
    border: 3px solid $white;
    border-radius: 50%;
    padding: 2.55rem 1.65rem;
    transition: all 0.4s ease;

    &:hover,
    &:focus {
        transform: translate(-50%, -50%) rotate(0deg);
        background-color: $secondary;
        border-color: $secondary;
    }

    @media (max-width: 800px) {
        top: 57%;
        padding: 1.75rem 1rem;
        transform: translate(-50%, -57%) rotate(-20deg);
    }

    @media (max-width: 650px) {
        font-size: 1rem;
        top: 59%;
        transform: translate(-50%, -59%) rotate(-20deg);
    }

    @media (max-width: 480px) {
        top: 59%;
        transform: translate(-50%, -59%) rotate(-20deg);
    }
}
