@import url("https://fonts.googleapis.com/css2?family=Calistoga&family=Open+Sans:wght@300;400&display=swap");

// Spacing
$spacing: 2.75rem;

// Font
$title: "Calistoga", times;
$body: "Open Sans", sans-serif;

$font--xl: 5.75rem;
$font--m: 2.5rem;
$font--sm: 1.5rem;

// Colours
$bg: #fcdcb4;
$primary: #9a6e44;
