.form-row {
    display: flex;
    gap: $spacing--small;
    width: 100%;
    margin-bottom: $spacing--small;

    @media (max-width: 480px) {
        flex-direction: column;
    }

    .form-control {
        margin-bottom: 0;
    }
}

.form-control {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: $spacing--small;
}

.required > label {
    position: relative;
}

label {
    margin-bottom: $spacing--small;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    font-size: clamp(0.75rem, 0.676rem + 0.37vw, 1rem);
}

input,
textarea {
    width: 100%;
    border: none;
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
    border-radius: 20px;

    &:focus {
        outline: none;
        border-color: $secondary;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    }
}

textarea {
    resize: none;
}

input[type="submit"] {
    @extend .button;
    width: fit-content;
    letter-spacing: 1.75px;
    font-size: $intro;
    padding: 0.5rem $spacing !important;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;

    &:hover,
    &:focus {
        padding-inline: 3.25rem !important;
    }

    @media (max-width: 480px) {
        width: 100%;
    }
}

input[type="submit"].hide {
    opacity: 0;
    visibility: hidden;
}

.success-container {
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.success-container.show {
    display: flex;
    opacity: 1;
    visibility: visible;
}

.success {
    font-size: $intro;
    letter-spacing: 1.25px;
}

.wpcf7-response-output {
    display: none;
}

// contact form 7 spinner
.wpcf7-spinner {
    display: none;
}
