@import url("https://fonts.googleapis.com/css2?family=Calistoga&family=Open+Sans:wght@300;400&display=swap");
.font-light {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
} /* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

ul {
  padding-inline-start: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  background-color: #fcdcb4;
  line-height: 1.5;
}

html,
body {
  overflow-x: hidden;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

li:not([class=""]) {
  list-style: none;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
h1,
h2,
h3,
h4 {
  font-family: "Calistoga", times;
}

h1 {
  font-size: clamp(2.75rem, 1.861rem + 4.44vw, 5.75rem);
  line-height: 1.2;
}

/*
    A responsive grid by jjgrainger
    http://jjgrainger.co.uk/grid
*/
.container {
  margin-block: 2.75rem;
}
@media (max-width: 800px) {
  .container {
    margin-block: 1.75rem;
  }
}

.row {
  display: flex;
  flex-flow: row wrap;
  margin-inline: auto;
  max-width: 1400px;
  padding-inline: 2.75rem;
}

.column {
  padding: 1rem;
}

/* whole */
.column.one-whole {
  width: 100%;
}

/* halves */
.column.one-half {
  width: 50%;
}

/* thirds */
.column.one-third {
  width: 33.333%;
}

.column.two-thirds {
  width: 66.666%;
}

/* fourths */
.column.one-fourth {
  width: 25%;
}

.column.three-fourths {
  width: 75%;
}

/* fifths */
.column.one-fifth {
  width: 20%;
}

.column.two-fifths {
  width: 40%;
}

.column.three-fifths {
  width: 60%;
}

.column.four-fifths,
.four-fifths {
  width: 80%;
}

/* sixths */
.column.one-sixth {
  width: 16.666666667%;
}

.column.five-sixths {
  width: 83.333333335%;
}

/* twelfths */
.column.one-twelfth {
  width: 8.3333333%;
}

.column.five-twelfths {
  width: 41.6666667%;
}

.column.seven-twelfths {
  width: 58.3333333%;
}

.column.eleven-twelfths {
  width: 91.666666667%;
}

/* push */
.push-twelfth {
  margin-left: 8.3333333%;
}

.push-sixth {
  margin-left: 16.666666667%;
}

.push-third {
  margin-left: 33.33333%;
}

.push-fourth {
  margin-left: 25%;
}

.l-show {
  display: none;
}

/* xxl */
@media (max-width: 1024px) {
  .column.xxl-one-half {
    width: 50%;
  }
}
/* xl */
@media (max-width: 960px) {
  .column.xl-one-whole {
    width: 100%;
    margin: 0;
  }
  .column.xl-one-half {
    width: 50%;
    margin: 0;
  }
  .column.xl-one-third {
    width: 33.333%;
    margin: 0;
  }
}
/* l */
@media (max-width: 800px) {
  .row {
    padding-inline: rhythm(2);
  }
  .column {
    margin: 0;
  }
  .l-hide {
    display: none !important;
  }
  .l-show {
    display: block;
  }
  .column.l-one-whole,
.l-one-whole {
    margin: 0;
    width: 100%;
  }
  .column.l-one-half {
    width: 50%;
  }
  .column.l-one-third {
    width: 33.333%;
  }
  .column.l-two-thirds {
    width: 66.666%;
  }
  .l-centered {
    margin-inline: auto;
  }
}
/* m */
@media (max-width: 600px) {
  .column.m-one-whole {
    margin: 0;
    width: 100%;
  }
  .column.m-one-half {
    width: 50%;
  }
  .m-centered {
    margin-inline: auto;
  }
}
/* s */
@media (max-width: 480px) {
  .s-hide {
    display: none;
  }
  .column.s-one-whole {
    margin: 0;
    width: 100%;
  }
}
/* xs */
.nav {
  height: 0;
}

.menu-toggle {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 25px;
  left: 95%;
  z-index: 1;
  border: none;
  background-color: transparent;
  user-select: none;
}
@media (max-width: 1080px) {
  .menu-toggle {
    left: 94%;
  }
}
@media (max-width: 920px) {
  .menu-toggle {
    left: 93%;
  }
}
@media (max-width: 800px) {
  .menu-toggle {
    left: 92%;
  }
}
@media (max-width: 660px) {
  .menu-toggle {
    left: 90%;
  }
}
@media (max-width: 500px) {
  .menu-toggle {
    left: 88%;
  }
}
@media (max-width: 420px) {
  .menu-toggle {
    left: 86%;
  }
}
.menu-toggle input {
  display: flex;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}
.menu-toggle span {
  display: flex;
  width: 35px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background-color: #ec744e;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 5px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background-color 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
.menu-toggle span:first-child {
  transform-origin: 0% 0%;
}
.menu-toggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}
.menu-toggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-3px, -1px);
  background-color: #ffffff;
}
.menu-toggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
.menu-toggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

.menu-toggle ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: fit-content;
  height: 60vh;
  color: #ffffff;
  margin-top: -52px;
  background-color: #9a6e44;
  border-bottom-left-radius: 15px;
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
@media (max-width: 800px) {
  .menu-toggle ul {
    height: 60vh;
  }
}
@media (max-width: 550px) {
  .menu-toggle ul {
    height: 100vh;
  }
}
.menu-toggle ul li {
  font-family: "Calistoga", times;
  font-size: clamp(1rem, 0.852rem + 0.74vw, 1.5rem);
  letter-spacing: 1.25px;
  padding: 0.5rem 3rem;
  transition-delay: 2s;
}
.menu-toggle ul li a {
  border-bottom: 5px double rgba(255, 255, 255, 0);
  transition: border-color 0.3s ease;
}
.menu-toggle ul li a:hover, .menu-toggle ul li a:focus {
  border-color: rgb(255, 255, 255);
}
.menu-toggle input:checked ~ ul {
  transform: translate(-60%, 0);
}
@media (max-width: 800px) {
  .menu-toggle input:checked ~ ul {
    transform: translate(-62%, 0);
  }
}

.hero {
  display: flex;
  position: relative;
  flex: 1;
  min-height: 95vh;
}
@media (max-width: 800px) {
  .hero {
    flex-direction: column-reverse;
    min-height: auto;
  }
}

.hero--illustration {
  background-repeat: repeat;
  background-position: 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='18' viewBox='0 0 100 18'%3E%3Cpath fill='%23ffba94' fill-opacity='0.96' d='M61.82 18c3.47-1.45 6.86-3.78 11.3-7.34C78 6.76 80.34 5.1 83.87 3.42 88.56 1.16 93.75 0 100 0v6.16C98.76 6.05 97.43 6 96 6c-9.59 0-14.23 2.23-23.13 9.34-1.28 1.03-2.39 1.9-3.4 2.66h-7.65zm-23.64 0H22.52c-1-.76-2.1-1.63-3.4-2.66C11.57 9.3 7.08 6.78 0 6.16V0c6.25 0 11.44 1.16 16.14 3.42 3.53 1.7 5.87 3.35 10.73 7.24 4.45 3.56 7.84 5.9 11.31 7.34zM61.82 0h7.66a39.57 39.57 0 0 1-7.34 4.58C57.44 6.84 52.25 8 46 8S34.56 6.84 29.86 4.58A39.57 39.57 0 0 1 22.52 0h15.66C41.65 1.44 45.21 2 50 2c4.8 0 8.35-.56 11.82-2z'%3E%3C/path%3E%3C/svg%3E");
  background-size: 500px;
  width: 100%;
  height: 40%;
  margin-bottom: auto;
}
@media (max-width: 800px) {
  .hero--illustration {
    width: 50%;
    height: clamp(10rem, 5.333rem + 23.33vw, 17rem);
    margin-bottom: 0;
  }
}

.hero--content {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #9a6e44;
  padding-bottom: 2.75rem;
}
@media (max-width: 800px) {
  .hero--content {
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 0;
  }
}
.hero--content .hero--meta,
.hero--content .hero--title {
  color: #fff;
  padding-inline: 2.75rem;
}
@media (max-width: 650px) {
  .hero--content .hero--meta,
.hero--content .hero--title {
    padding-inline: 1rem;
  }
}

@media (max-width: 800px) {
  .hero--copy {
    width: 50%;
  }
}

.hero--meta {
  font-size: clamp(1rem, 0.852rem + 0.74vw, 1.5rem);
  letter-spacing: 1.5px;
}

.hero--title {
  letter-spacing: 1.15px;
}
@media (max-width: 650px) {
  .hero--title {
    font-size: clamp(1.75rem, 1.157rem + 2.96vw, 3.75rem);
  }
}

.hero--image {
  flex: 1;
}
@media (max-width: 800px) {
  .hero--image {
    max-height: 57vh;
  }
}
.hero--image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 40% 50%;
}
@media (max-width: 1200px) {
  .hero--image img {
    object-position: 28% 50%;
  }
}

.hero--button {
  font-family: "Calistoga", times;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-20deg);
  font-size: clamp(1rem, 0.852rem + 0.74vw, 1.5rem);
  letter-spacing: 1.5px;
  color: #ffffff;
  border: 3px solid #ffffff;
  border-radius: 50%;
  padding: 2.55rem 1.65rem;
  transition: all 0.4s ease;
}
.hero--button:hover, .hero--button:focus {
  transform: translate(-50%, -50%) rotate(0deg);
  background-color: #ec744e;
  border-color: #ec744e;
}
@media (max-width: 800px) {
  .hero--button {
    top: 57%;
    padding: 1.75rem 1rem;
    transform: translate(-50%, -57%) rotate(-20deg);
  }
}
@media (max-width: 650px) {
  .hero--button {
    font-size: 1rem;
    top: 59%;
    transform: translate(-50%, -59%) rotate(-20deg);
  }
}
@media (max-width: 480px) {
  .hero--button {
    top: 59%;
    transform: translate(-50%, -59%) rotate(-20deg);
  }
}

.timeline {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

.timeline--item {
  position: relative;
  display: flex;
  flex: 33%;
  gap: 2.75rem;
}
.timeline--item:nth-of-type(3):after, .timeline--item:last-of-type::after {
  content: "";
}
.timeline--item:last-of-type::after {
  content: "";
}
@media (max-width: 960px) {
  .timeline--item {
    gap: 1rem;
  }
}
@media (max-width: 840px) {
  .timeline--item {
    flex: 50%;
  }
  .timeline--item:nth-of-type(2):after, .timeline--item:nth-of-type(4):after {
    content: "";
  }
  .timeline--item:nth-of-type(3):after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' class='w-6 h-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M4.5 10.5L12 3m0 0l7.5 7.5M12 3v18' /%3E%3C/svg%3E");
  }
}
@media (max-width: 560px) {
  .timeline--item {
    flex-direction: column;
    flex: 100%;
  }
  .timeline--item:nth-of-type(2):after, .timeline--item:nth-of-type(4):after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' class='w-6 h-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M4.5 10.5L12 3m0 0l7.5 7.5M12 3v18' /%3E%3C/svg%3E");
  }
}
.timeline--item::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' class='w-6 h-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M4.5 10.5L12 3m0 0l7.5 7.5M12 3v18' /%3E%3C/svg%3E");
  transform: rotate(90deg);
  margin-top: auto;
  height: 3rem;
  width: 3rem;
}
@media (max-width: 840px) {
  .timeline--item::after {
    position: absolute;
    top: 50%;
    right: -50px;
    transform: translate(-50%) rotate(90deg);
  }
}
@media (max-width: 560px) {
  .timeline--item::after {
    position: unset;
    transform: rotate(180deg);
    margin: 0 auto 0 auto;
  }
}

.timings {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.timings time {
  font-family: "Calistoga", times;
}

.timings--icon {
  width: 5rem;
  height: 5rem;
}

/*# sourceMappingURL=main.css.map */
