@import url("https://fonts.googleapis.com/css2?family=Calistoga&family=Open+Sans:wght@300;400&display=swap");
.font-light {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.center {
  text-align: center;
}

.flex-centered {
  display: flex;
  justify-content: center;
}

.no-margin-top {
  margin-top: 0 !important;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

ul {
  padding-inline-start: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  background-color: #fcdcb4;
  line-height: 1.5;
}

html,
body {
  overflow-x: hidden;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

li:not([class=""]) {
  list-style: none;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
h1,
h2,
h3,
h4 {
  font-family: "Calistoga", times;
  letter-spacing: 1.2px;
}

h1 {
  font-size: clamp(2.75rem, 1.861rem + 4.44vw, 5.75rem);
  line-height: 1.2;
}

h3 {
  font-size: clamp(1.5rem, 1.204rem + 1.48vw, 2.5rem);
  line-height: 1.2;
}

/*
    A responsive grid by jjgrainger
    http://jjgrainger.co.uk/grid
*/
.container {
  margin-block: 2.75rem;
}
@media (max-width: 800px) {
  .container {
    margin-block: 1.75rem;
  }
}

.row {
  display: flex;
  flex-flow: row wrap;
  margin-inline: auto;
  max-width: 1400px;
  padding-inline: 2.75rem;
}

.column {
  padding: 1rem;
}

/* whole */
.column.one-whole {
  width: 100%;
}

/* halves */
.column.one-half {
  width: 50%;
}

/* thirds */
.column.one-third {
  width: 33.333%;
}

.column.two-thirds {
  width: 66.666%;
}

/* fourths */
.column.one-fourth {
  width: 25%;
}

.column.three-fourths {
  width: 75%;
}

/* fifths */
.column.one-fifth {
  width: 20%;
}

.column.two-fifths {
  width: 40%;
}

.column.three-fifths {
  width: 60%;
}

.column.four-fifths,
.four-fifths {
  width: 80%;
}

/* sixths */
.column.one-sixth {
  width: 16.666666667%;
}

.column.five-sixths {
  width: 83.333333335%;
}

/* twelfths */
.column.one-twelfth {
  width: 8.3333333%;
}

.column.five-twelfths {
  width: 41.6666667%;
}

.column.seven-twelfths {
  width: 58.3333333%;
}

.column.eleven-twelfths {
  width: 91.666666667%;
}

/* push */
.push-twelfth {
  margin-left: 8.3333333%;
}

.push-sixth {
  margin-left: 16.666666667%;
}

.push-third {
  margin-left: 33.33333%;
}

.push-fourth {
  margin-left: 25%;
}

.l-show {
  display: none;
}

/* xxl */
@media (max-width: 1024px) {
  .column.xxl-one-half {
    width: 50%;
  }
}
/* xl */
@media (max-width: 960px) {
  .column.xl-one-whole {
    width: 100%;
    margin: 0;
  }
  .column.xl-one-half {
    width: 50%;
    margin: 0;
  }
  .column.xl-one-third {
    width: 33.333%;
    margin: 0;
  }
}
/* l */
@media (max-width: 800px) {
  .row {
    padding-inline: 1rem;
  }
  .column {
    margin: 0;
  }
  .l-hide {
    display: none !important;
  }
  .l-show {
    display: block;
  }
  .column.l-one-whole,
.l-one-whole {
    margin: 0;
    width: 100%;
  }
  .column.l-one-half {
    width: 50%;
  }
  .column.l-one-third {
    width: 33.333%;
  }
  .column.l-two-thirds {
    width: 66.666%;
  }
  .l-centered {
    margin-inline: auto;
  }
}
/* m */
@media (max-width: 600px) {
  .column.m-one-whole {
    margin: 0;
    width: 100%;
  }
  .column.m-one-half {
    width: 50%;
  }
  .m-centered {
    margin-inline: auto;
  }
}
/* s */
@media (max-width: 480px) {
  .s-hide {
    display: none;
  }
  .column.s-one-whole {
    margin: 0;
    width: 100%;
  }
}
/* xs */
.header-illustration-top {
  position: relative;
  top: -50px;
  background-image: url("data:image/svg+xml,%3Csvg style='transform:rotate(0deg);transition:.3s' viewBox='0 0 1440 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0'%3E%3Cstop stop-color='rgba(243, 106, 62, 1)' offset='0%25'/%3E%3Cstop stop-color='rgba(236, 116, 78, 1)' offset='100%25'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath style='transform:translate(0,0);opacity:1' fill='url(%23a)' d='m0 25 80 16.7C160 58 320 92 480 100s320-8 480-29.2c160-20.8 320-45.8 480-25 160 21.2 320 87.2 480 95.9 160 8.3 320-41.7 480-41.7s320 50 480 75 320 25 480 8.3c160-16.3 320-50.3 480-50 160-.3 320 33.7 480 29.2 160-4.5 320-45.5 480-41.7 160 4.2 320 54.2 480 50 160-3.8 320-62.8 480-75 160-12.8 320 21.2 480 16.7s320-45.5 480-33.3C6880 92 7040 158 7200 175s320-17 480-37.5 320-29.5 480-41.7C8320 83 8480 67 8640 66.7c160 .3 320 16.3 480 45.8 160 29.5 320 70.5 480 83.3 160 12.2 320-3.8 480-8.3 160-4.5 320 4.5 480-8.3 160-12.2 320-46.2 480-62.5 160-16.7 320-16.7 400-16.7h80v150H0Z'/%3E%3C/svg%3E");
  background-size: cover;
  height: 15vh;
}

.header-illustration-bottom {
  position: relative;
  top: -50px;
  background-image: url("data:image/svg+xml,%3Csvg style='transform:rotate(0deg);transition:.3s' viewBox='0 0 1440 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0'%3E%3Cstop stop-color='rgba(243, 106, 62, 1)' offset='0%25'/%3E%3Cstop stop-color='rgba(236, 116, 78, 1)' offset='100%25'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath style='transform:translate(0,0);opacity:1' fill='url(%23a)' d='m0 25 80 16.7C160 58 320 92 480 100s320-8 480-29.2c160-20.8 320-45.8 480-25 160 21.2 320 87.2 480 95.9 160 8.3 320-41.7 480-41.7s320 50 480 75 320 25 480 8.3c160-16.3 320-50.3 480-50 160-.3 320 33.7 480 29.2 160-4.5 320-45.5 480-41.7 160 4.2 320 54.2 480 50 160-3.8 320-62.8 480-75 160-12.8 320 21.2 480 16.7s320-45.5 480-33.3C6880 92 7040 158 7200 175s320-17 480-37.5 320-29.5 480-41.7C8320 83 8480 67 8640 66.7c160 .3 320 16.3 480 45.8 160 29.5 320 70.5 480 83.3 160 12.2 320-3.8 480-8.3 160-4.5 320 4.5 480-8.3 160-12.2 320-46.2 480-62.5 160-16.7 320-16.7 400-16.7h80v150H0Z'/%3E%3C/svg%3E");
  background-size: cover;
  height: 15vh;
  transform: rotate(180deg);
}

.page-title {
  color: #ec744e;
  margin-bottom: 1rem;
}

.page-intro {
  font-size: clamp(1rem, 0.963rem + 0.19vw, 1.125rem);
}

.form-row {
  display: flex;
  gap: 1rem;
  width: 100%;
  margin-bottom: 1rem;
}
@media (max-width: 480px) {
  .form-row {
    flex-direction: column;
  }
}
.form-row .form-control {
  margin-bottom: 0;
}

.form-control {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
}

.required > label {
  position: relative;
}

label {
  margin-bottom: 1rem;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  font-size: clamp(0.75rem, 0.676rem + 0.37vw, 1rem);
}

input,
textarea {
  width: 100%;
  border: none;
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  border-radius: 20px;
}
input:focus,
textarea:focus {
  outline: none;
  border-color: #ec744e;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

textarea {
  resize: none;
}

input[type=submit] {
  width: fit-content;
  background-color: #9a6e44;
  color: #ffffff;
  padding: 1rem 2.75rem;
  font-family: "Calistoga", times;
  font-size: clamp(1rem, 0.963rem + 0.19vw, 1.125rem);
  text-align: center;
  cursor: pointer;
  margin-inline: auto;
  transition: background-color 0.3s ease;
}
input[type=submit]:hover, input[type=submit]:focus {
  background-color: #ec744e;
}

footer {
  background-color: #9a6e44;
  color: #ffffff;
}
footer a {
  border-bottom: 1px solid #ffffff;
}

.nav {
  height: 0;
}

.menu-toggle {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 25px;
  margin-right: 1rem;
  margin-left: auto;
  z-index: 1;
  border: none;
  background-color: transparent;
  user-select: none;
}
.menu-toggle input {
  display: flex;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}
.menu-toggle span {
  display: flex;
  width: 35px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background-color: #ec744e;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 5px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background-color 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
.menu-toggle span:first-child {
  transform-origin: 0% 0%;
}
.menu-toggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}
.menu-toggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-3px, -1px);
  background-color: #ffffff;
}
.menu-toggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
.menu-toggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

.menu-toggle ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: fit-content;
  height: 60vh;
  color: #ffffff;
  margin-top: -52px;
  background-color: #9a6e44;
  border-bottom-left-radius: 15px;
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
@media (max-width: 800px) {
  .menu-toggle ul {
    height: 60vh;
  }
}
@media (max-width: 550px) {
  .menu-toggle ul {
    height: 100vh;
  }
}
.menu-toggle ul li {
  font-family: "Calistoga", times;
  font-size: clamp(1rem, 0.852rem + 0.74vw, 1.5rem);
  letter-spacing: 1.25px;
  padding: 0.5rem 3rem;
  transition-delay: 2s;
}
.menu-toggle ul li a {
  border-bottom: 5px double rgba(255, 255, 255, 0);
  transition: border-color 0.3s ease;
}
.menu-toggle ul li a:hover, .menu-toggle ul li a:focus {
  border-color: rgb(255, 255, 255);
}
.menu-toggle input:checked ~ ul {
  transform: translate(-64%, 0);
}

.hero {
  display: flex;
  position: relative;
  flex: 1;
  min-height: 95vh;
}
@media (max-width: 800px) {
  .hero {
    flex-direction: column-reverse;
    min-height: auto;
  }
}

.hero--illustration {
  background-repeat: repeat;
  background-position: 100%;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 156 156' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cpattern id='a' x='0' y='0' width='126' height='126' patternUnits='userSpaceOnUse' patternTransform='translate(30 30)'%3E%3Csvg width='96' height='96' viewBox='0 0 100 100'%3E%3Cg fill='%23fbb791'%3E%3Cpath d='M31.984 9.441a2.93 2.93 0 0 0 2.93-2.93c-.159-3.886-5.701-3.885-5.86 0a2.931 2.931 0 0 0 2.93 2.93ZM68.01 90.557a2.93 2.93 0 0 0-2.93 2.93c.159 3.887 5.701 3.886 5.86 0a2.93 2.93 0 0 0-2.93-2.93ZM68.01 9.441a2.93 2.93 0 0 0 2.93-2.93c-.16-3.886-5.702-3.885-5.86 0a2.931 2.931 0 0 0 2.93 2.93ZM31.984 90.557a2.93 2.93 0 0 0-2.93 2.93c.16 3.887 5.702 3.886 5.86 0a2.93 2.93 0 0 0-2.93-2.93ZM93.486 34.916a2.93 2.93 0 0 0 2.93-2.93c-.159-3.887-5.701-3.886-5.86 0a2.93 2.93 0 0 0 2.93 2.93ZM6.51 65.083a2.93 2.93 0 0 0-2.93 2.93c.159 3.886 5.701 3.885 5.86 0a2.931 2.931 0 0 0-2.93-2.93ZM93.486 65.083a2.93 2.93 0 0 0-2.93 2.93c.16 3.886 5.702 3.885 5.86 0a2.931 2.931 0 0 0-2.93-2.93ZM6.51 34.916a2.93 2.93 0 0 0 2.93-2.93c-.16-3.887-5.702-3.886-5.86 0a2.93 2.93 0 0 0 2.93 2.93ZM54.571 61.056c-2.43 5.02-1.341 11.477 2.681 15.382 1.645 1.644 3.48 3.012 5.412 4.148 2.302-8.271.317-16.257-8.093-19.53ZM46.712 66.846a13.53 13.53 0 0 0-1.288-5.79c-8.412 3.276-10.392 11.254-8.096 19.52 5.116-2.951 9.47-7.422 9.384-13.73ZM45.417 38.942c2.368-5.031 1.478-11.228-2.675-15.382-1.645-1.644-3.478-3.011-5.41-4.147-2.303 8.268-.322 16.251 8.085 19.529ZM54.578 38.942c8.408-3.28 10.384-11.256 8.088-19.519-1.925 1.128-3.766 2.49-5.414 4.138-4.152 4.153-5.043 10.35-2.674 15.38ZM49.999 45.6a4.406 4.406 0 0 0-4.401 4.4c.242 5.839 8.56 5.837 8.802 0 0-2.427-1.975-4.4-4.401-4.4ZM19.422 37.33c1.128 1.926 2.49 3.767 4.137 5.414 3.905 4.023 10.363 5.113 15.382 2.681-3.277-8.41-11.254-10.39-19.52-8.094ZM23.559 57.255c-1.645 1.645-3.013 3.479-4.149 5.411 8.27 2.302 16.253.32 19.53-8.086-5.032-2.368-11.229-1.477-15.381 2.675ZM80.573 62.669c-1.128-1.925-2.49-3.767-4.138-5.414-4.124-4.113-10.262-5.07-15.38-2.675 3.28 8.408 11.254 10.385 19.518 8.089ZM66.843 46.714c3.626 0 7.032-1.41 9.591-3.97 1.645-1.645 3.013-3.478 4.149-5.41-8.272-2.303-16.256-.319-19.53 8.091a13.528 13.528 0 0 0 5.79 1.29ZM49.997 23.497a19.284 19.284 0 0 1 3.112-4.08c3.011-3.01 5.918-4.652 7.483-5.57C57.966 8.175 54.142 3.51 51.42.617a1.952 1.952 0 0 0-2.845 0c-2.72 2.89-6.541 7.553-9.167 13.22 1.563.92 4.452 2.556 7.477 5.581a19.297 19.297 0 0 1 3.112 4.08ZM49.997 76.503a19.294 19.294 0 0 1-3.112 4.08c-3.025 3.026-5.914 4.662-7.477 5.58 2.626 5.669 6.447 10.33 9.167 13.221.772.821 2.073.821 2.845 0 2.722-2.893 6.546-7.559 9.172-13.231-1.565-.917-4.471-2.56-7.483-5.57a19.286 19.286 0 0 1-3.112-4.08ZM69.423 26.172c0 1.745-.238 3.452-.684 5.086a19.293 19.293 0 0 1 5.084-.685c4.26 0 7.475.895 9.23 1.353 2.155-5.868 2.75-11.872 2.872-15.842a1.952 1.952 0 0 0-2.013-2.012c-3.968.12-9.966.715-15.83 2.867.456 1.755 1.341 4.954 1.341 9.233ZM30.575 73.823c0-1.744.238-3.451.684-5.084-1.634.446-3.34.684-5.086.684-4.278 0-7.478-.886-9.233-1.34-2.151 5.863-2.746 11.862-2.867 15.83a1.952 1.952 0 0 0 2.012 2.012c3.97-.121 9.974-.717 15.842-2.871-.458-1.756-1.352-4.972-1.352-9.23ZM99.385 48.574c-2.89-2.72-7.553-6.54-13.22-9.166-.92 1.563-2.556 4.452-5.581 7.477a19.287 19.287 0 0 1-4.08 3.112c1.47.84 2.845 1.878 4.08 3.112 3.01 3.011 4.652 5.918 5.57 7.483 5.672-2.626 10.338-6.45 13.231-9.172.821-.772.821-2.074 0-2.846ZM23.497 49.997a19.294 19.294 0 0 1-4.08-3.112c-3.026-3.025-4.662-5.914-5.58-7.477-5.669 2.626-10.33 6.447-13.221 9.167a1.952 1.952 0 0 0 0 2.845c2.893 2.722 7.559 6.546 13.231 9.172.917-1.565 2.56-4.471 5.57-7.483a19.289 19.289 0 0 1 4.08-3.112ZM73.828 69.423c-1.745 0-3.452-.238-5.086-.684.447 1.633.685 3.34.685 5.084 0 4.259-.895 7.475-1.353 9.23 5.868 2.155 11.871 2.75 15.842 2.871a1.952 1.952 0 0 0 2.012-2.012c-.121-3.968-.715-9.966-2.867-15.83-1.755.455-4.954 1.34-9.233 1.34ZM26.176 30.573c1.745 0 3.452.238 5.085.685a19.292 19.292 0 0 1-.684-5.086c0-4.279.885-7.478 1.34-9.233-5.864-2.151-11.862-2.746-15.83-2.867a1.952 1.952 0 0 0-2.012 2.012c.121 3.97.717 9.974 2.871 15.842 1.755-.458 4.971-1.352 9.23-1.352Z'/%3E%3C/g%3E%3C/svg%3E%3C/pattern%3E%3C/defs%3E%3Crect width='100%25' height='100%25' fill='%239a6e44'/%3E%3Crect width='100%25' height='100%25' fill='url(%23a)'/%3E%3C/svg%3E");
  background-size: 40px;
  width: 100%;
  height: 40%;
  margin-bottom: auto;
}
@media (max-width: 800px) {
  .hero--illustration {
    width: 50%;
    height: clamp(10rem, 5.333rem + 23.33vw, 17rem);
    margin-bottom: 0;
  }
}

.hero--content {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #9a6e44;
  padding-bottom: 2.75rem;
}
@media (max-width: 800px) {
  .hero--content {
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 0;
  }
}
.hero--content .hero--meta,
.hero--content .hero--title {
  color: #fff;
  padding-inline: 2.75rem;
}
@media (max-width: 650px) {
  .hero--content .hero--meta,
.hero--content .hero--title {
    padding-inline: 1rem;
  }
}

@media (max-width: 800px) {
  .hero--copy {
    width: 50%;
  }
}

.hero--meta {
  font-size: clamp(1rem, 0.852rem + 0.74vw, 1.5rem);
  letter-spacing: 1.5px;
}

.hero--title {
  letter-spacing: 1.15px;
}
@media (max-width: 650px) {
  .hero--title {
    font-size: clamp(1.75rem, 1.157rem + 2.96vw, 3.75rem);
  }
}

.hero--image {
  flex: 1;
}
@media (max-width: 800px) {
  .hero--image {
    max-height: 57vh;
  }
}
.hero--image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 40% 50%;
}
@media (max-width: 1200px) {
  .hero--image img {
    object-position: 28% 50%;
  }
}

.hero--button {
  font-family: "Calistoga", times;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-20deg);
  font-size: clamp(1rem, 0.852rem + 0.74vw, 1.5rem);
  letter-spacing: 1.5px;
  color: #ffffff;
  border: 3px solid #ffffff;
  border-radius: 50%;
  padding: 2.55rem 1.65rem;
  transition: all 0.4s ease;
}
.hero--button:hover, .hero--button:focus {
  transform: translate(-50%, -50%) rotate(0deg);
  background-color: #ec744e;
  border-color: #ec744e;
}
@media (max-width: 800px) {
  .hero--button {
    top: 57%;
    padding: 1.75rem 1rem;
    transform: translate(-50%, -57%) rotate(-20deg);
  }
}
@media (max-width: 650px) {
  .hero--button {
    font-size: 1rem;
    top: 59%;
    transform: translate(-50%, -59%) rotate(-20deg);
  }
}
@media (max-width: 480px) {
  .hero--button {
    top: 59%;
    transform: translate(-50%, -59%) rotate(-20deg);
  }
}

.button {
  position: relative;
  display: inline-block;
  border: 2px solid #9a6e44;
  outline: none;
  border-radius: 15px;
  color: #9a6e44;
  background-color: #ffffff;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.button:hover, .button:focus {
  background-color: #9a6e44;
  border-color: #ffffff;
  color: #ffffff;
}
.button:active {
  transform: translateY(2px);
}

.timeline {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

.timeline--item {
  position: relative;
  display: flex;
  flex: 33%;
  gap: 2.75rem;
}
.timeline--item:nth-of-type(3):after, .timeline--item:last-of-type::after {
  content: "";
}
.timeline--item:last-of-type::after {
  content: "";
}
@media (max-width: 960px) {
  .timeline--item {
    gap: 1rem;
  }
}
@media (max-width: 840px) {
  .timeline--item {
    flex: 50%;
  }
  .timeline--item:nth-of-type(2):after, .timeline--item:nth-of-type(4):after {
    content: "";
  }
  .timeline--item:nth-of-type(3):after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' class='w-6 h-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M4.5 10.5L12 3m0 0l7.5 7.5M12 3v18' /%3E%3C/svg%3E");
  }
}
@media (max-width: 560px) {
  .timeline--item {
    flex-direction: column;
    flex: 100%;
  }
  .timeline--item:nth-of-type(2):after, .timeline--item:nth-of-type(4):after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' class='w-6 h-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M4.5 10.5L12 3m0 0l7.5 7.5M12 3v18' /%3E%3C/svg%3E");
  }
}
.timeline--item::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' class='w-6 h-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M4.5 10.5L12 3m0 0l7.5 7.5M12 3v18' /%3E%3C/svg%3E");
  transform: rotate(90deg);
  margin-top: auto;
  height: 3rem;
  width: 3rem;
}
@media (max-width: 840px) {
  .timeline--item::after {
    position: absolute;
    top: 50%;
    right: -50px;
    transform: translate(-50%) rotate(90deg);
  }
}
@media (max-width: 560px) {
  .timeline--item::after {
    position: unset;
    transform: rotate(180deg);
    margin: 0 auto 0 auto;
  }
}

.timings {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.timings time {
  font-family: "Calistoga", times;
}

.timings--icon {
  width: 5rem;
  height: 5rem;
}

.card--layout-title {
  font-size: clamp(1.5rem, 1.204rem + 1.48vw, 2.5rem);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
}

.card--content {
  width: 90%;
  padding: 1rem;
  background-color: #ec744e;
  color: #ffffff;
  transform: translateY(-50px);
  border-radius: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: transform 0.5s ease;
}
.card--content:hover, .card--content:focus {
  transform: translateY(-80px);
}
.card--content * {
  margin-bottom: 1rem;
}

.card--image {
  border-radius: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.card--image img {
  border-radius: 15px;
}

.card--button {
  position: unset;
  z-index: 100;
}
.card--button:before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;
}

.tbi-container {
  display: flex;
  margin-bottom: 2.75rem;
}
@media (max-width: 800px) {
  .tbi-container {
    flex-direction: column;
  }
}

.tbi-row:nth-of-type(even) .tbi-container {
  flex-direction: row-reverse;
}
@media (max-width: 800px) {
  .tbi-row:nth-of-type(even) .tbi-container {
    flex-direction: column;
  }
}
.tbi-row:nth-of-type(even) .tbi-content--inner {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
@media (max-width: 800px) {
  .tbi-row:nth-of-type(even) .tbi-content--inner {
    border-bottom-right-radius: 15px;
    border-top-left-radius: 0;
  }
}

.tbi-image {
  flex: 1 1 50%;
  border-radius: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.tbi-image img {
  border-radius: 15px;
  object-fit: cover;
  height: 100%;
}
@media (max-width: 800px) {
  .tbi-image img {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.tbi-content {
  flex: 1 1 50%;
  display: flex;
  align-items: center;
  padding-block: 2.75rem;
}
@media (max-width: 800px) {
  .tbi-content {
    padding-block: 0;
  }
}
.tbi-content * {
  margin-bottom: 1rem;
}
.tbi-content--inner {
  padding: 1rem 2.75rem;
  background-color: #ffffff;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
@media (max-width: 800px) {
  .tbi-content--inner {
    border-top-right-radius: 0;
    border-bottom-left-radius: 15px;
  }
}
@media (max-width: 600px) {
  .tbi-content--inner {
    padding-inline: 1rem;
  }
}

.tbi-intro {
  font-size: clamp(1rem, 0.963rem + 0.19vw, 1.125rem);
}

.tbi-body {
  font-weight: 300;
}

/*# sourceMappingURL=main.css.map */
